{
    "botToken":"DISCORD-BOT-TOKEN",
    "clientId":"DISCORD-BOT-ID",
    "geniusApiKey":"GENIUS-API-KEY",
    "embedColour":"#2F3136",
    "stopEmoji":"⏹",
    "skipEmoji":"⏭",
    "queueEmoji":"📜",
    "pauseEmoji":"⏯",
    "lyricEmoji":"📜",
    "backEmoji":"⏮"
}